.mainContent {
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    background-color: black
}

.parent {
    width: 0;
    height: 0;
    border-radius: 45%;
    box-sizing: border-box;
    border: 140px solid #000;
    border-bottom: 140px solid transparent;
    background-color: #b5932f;
    transform: scaleX(0.4);
    filter: blur(20px) contrast(30);
    position: relative;
}

.parent div {
    position: absolute;
    bottom: -150px;
    width: 15px;
    height: 15px;
    filter: blur(10px);
    /* transition: all 1s; */
    animation-name: fire;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

@keyframes fire {
    0% {
        bottom: -150px;
    }

    50% {
        bottom: 50px;
    }

    100% {
        bottom: -150px;
    }
}

.child1 {
    background-color: black;
    left: -90px;
    animation-delay: 1s
}

.child2 {
    background-color: black;
    left: -70px;
    animation-delay: 2s
}

.child3 {
    background-color: black;
    left: -50px;
    animation-delay: 1.5s
}

.child4 {
    background-color: black;
    left: -30px;
    animation-delay: 1s
}

.child5 {
    background-color: black;
    left: 0px;
    animation-delay: 3s
}

.child6 {
    background-color: black;
    left: 30px;
    animation-delay: 3s
}

.child7 {
    background-color: black;

    left: 50px;
    animation-delay: 4s
}

.child8 {
    background-color: black;
    left: 70px;
    animation-delay: 0s
}

.child9 {
    background-color: black;
    left: 90px;
    animation-delay: 3s
}